div.sxc-plus-tooltip span.sxc-plus-tooltipText {
    visibility: hidden;
    /*background-color: #161032;*/
    background-image: linear-gradient(to right, hsl(251, 52%, 40%), hsl(251, 52%, 25%));
    color: #fff;
    padding: 10px;
    width: 240px;
    border: hsl(251, 52%, 40%);
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
   
    position: absolute;
    top: -2px;
    left: 105%; 
    z-index: 1;

    opacity: 0;
    transition: opacity 0.5s;
}

div.sxc-plus-tooltip:hover span.sxc-plus-tooltipText {
    visibility: visible;
    opacity: 1;    
}

div.sxc-plus-tooltip {
    color:#ddd;
    font-size: 14pt;
    padding:4px;
}

div.sxc-plus-menu {
    position: relative;
    width: auto;
    min-height: 36px;
    vertical-align: center;
    /*background-color: #161032;*/
    background-image: linear-gradient(to right, hsl(251, 52%, 40%), hsl(251, 52%, 25%));
    margin: 10px;
    padding: 4px;
    padding-left: 35px;
    border: hsl(251, 52%, 40%);
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
}

div.sxc-plus-menu div.sxc-plus-logo {
    position: absolute;
    background: hsl(251, 52%, 40%);
    padding: 4px;
    border: hsl(251, 52%, 40%);
    border-style: solid;
    border-width: 1px;
    border-radius: 21px;
    text-align: center;
    vertical-align: center;
    top: -13px;
    left:-13px;
    z-index: 1;
}

input.sxc-plus-checkbox {
    margin: 5px;
}

label.sxc-plus-checkboxlabel {
    color:#ddd;
    margin: 2px;
    font-size: 14pt;
}